<div class= "container text-center">

  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, alias iusto corrupti exercitationem veritatis cumque nisi! Aliquam, alias mollitia similique quae ipsa expedita obcaecati amet earum minus sequi sed aperiam.</p>
</div>